@charset "utf-8";

header{
	margin: 10px 20px;
	border-width: 0 0 5px 0;
	border-style: 1px solid ;
}

body{
	width: 1272px;

}

.wrapper {
    display: flex;
}

p{
	text-align: center;
}

.box2{
	width: 50%;
  	margin: 0 20px;
  	border-width: 2px;
	border-style: solid;
}

.box{
	width: 50%;
  	margin: 0 20px;
  	border-width: 2px;
	border-style: solid;
 text-align:center;
}

table{
 text-align:center;
}

form{
 text-align:center;
 padding:40px;
}

#button1 , #button2 ,#button3{
 width:150px;
 height:40px;
 text-align:center;
 border-radius:10px;
 margin:10px;
}


.box2{
 text-align:center;
}

.btn{

	margin: 20px
}

a{
  text-decoration:none;
 color:black;
}

a:hover{
  text-decoration:none;
 color:#fc7dff;
}

 td {
    margin: auto;
    outline: 1px solid #ddd;
    padding-top: 10px;
    text-align: center;

}

img{
 margin:30px;
 width:150px;
}

