@charset "utf-8";

body{
	margin-left: auto;
margin-right: auto;
}

.box{
  float: left;

  margin: 0 20px;
}

.btn{
	margin: 20px
}

 td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    text-align: center;

}