.container {  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr 4.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "leftmenu upmanu-3content menuicon-and-testuyaicon"
    "leftmenu calendarday calenderdetail"
    "leftmenu calendarday time";
}

.time { grid-area: time; }

.calendarday { grid-area: calendarday; }

/*カレンダー*/
#calendar {
    text-align: center;
     padding: 0 10px;
}

/*列幅均等化*/
#calendar table {
    /* outline: 2px solid #ececec; */
    border-collapse: collapse;
    table-layout: fixed;
    width: 50px;
     border-top: 2px solid #6495ed;
}

/*罫線見えないように*/
#calendar th {
    border-width: 0px;
     padding: 8px;
    text-align: center;
    width: 100px;
    height: 20px;
}

/*日曜日のth*/
#calendar th:first-child {
    color: red;
}
/*土曜日のth*/
#calendar th:last-child {
    color: blue;
}

#calendar td {
    outline: 1px solid #ddd;
    padding:5px 0 50px 5px;
    margin:20px 0 0 0 ;
    text-align:left;
  }


/*日曜日*/
#calendar td:first-child {
    color: red;
}
/*土曜日*/
#calendar td:last-child {
    color: blue;
}
/*前後月の日付*/
#calendar td.disabled {
    color: #ccc;
}

/*前後月の日曜日*/
#calendar td.disabled:first-child{
    color: #ff0000;
}

/*前後月の土曜日*/
#calendar td.disabled:last-child{
    color:blue;
}


/*本日*/
#calendar td.today {
    background-color: #D65E72;
    color: #fff;
}

/*カレンダー詳細画面*/
.calenderdetail { grid-area: calenderdetail;
 				background-color:cornflowerblue;
     z-index: 1;}



.menuicon-and-testuyaicon {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tetsuya icon";
  grid-area: menuicon-and-testuyaicon;
}

.tetsuya { grid-area: tetsuya; }

.icon { grid-area: icon; }

.leftmenu { grid-area: leftmenu;
	background-color:#6495ed;
	height: 700px;
}

.leftmenu img {
          width:100px;
          }


.upmanu-3content {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.1fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "dayview tetsuya-mode"
    "prev-next prev-next";
  grid-area: upmanu-3content;
  	max-height:150px;
}


/*徹夜モード表示*/
.tetsuya-mode {
	grid-area: tetsuya-mode;
}

.tetsuya{
	position: relative;
	left: 400px; /*追記*/
}


.tetsuyaArea {
display: none;
}

.tetsuyaArea:checked + label .onImage {
display: inline-block;
		  width: 10px;
}
.tetsuyaArea:not(:checked) + label .offImage {
display: inline-block;
		  width: 10px;
}


.offImage{
  transform: scale(20);
}

.onImage{
  transform: scale(20);
}

.tekitoutetuya{
	  position: absolute;
  top: 30px;
  right: 100px;
}


/*前後の月*/
.prev-next {
	grid-area: prev-next; }

#prev {
    float: left;
}
#next {
    float: right;
}


/*日付表示*/
.dayview { grid-area: dayview; }

.dayview::first-letter{
	font-size:60px;
}


html, body , .container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red;
  position: relative;
}


