@charset "utf-8";

body{
 max-width:98%;
}

  /*領域生成*/
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.6fr 4.4fr 0.7fr 1.3fr;
    grid-template-rows: 1fr 1.5fr 3fr 0.5fr;
    grid-template-areas: 'calendarleftmanu calendarupmanu tetsuya icon'
     'calendarleftmanu calendarday calendardetail calendardetail'
      'calendarleftmanu calendarday calendardetail calendardetail'
       'calendarleftmanu calendarday time time';
}

.area-calendarleftmanu {
    grid-area: calendarleftmanu;
    /* width:120px; */
}


/*週月ON*/

.onImage img .offImage img{
width: 40px;
}



.area-calendarupmanu {
    grid-area: calendarupmanu;
}

.flex-want2{
	display:flex;
}

.mode img{
	width:350px;
}

.weekmonthchange{
 width:120px;
}

.area-tetsuya {
    grid-area: tetsuya;
}
.area-icon {
    grid-area: icon;
}
.area-calendarday {
    text-align: center;
    grid-area: calendarday;
    max-height:00px;
    height: 20vh;
}
.area-calendardetail {
    grid-area: calendardetail;
}
.area-time {
    grid-area: time;
}
/*領域を赤線で囲む*/
    .container * {
      /* border: 1px solid red; */
      position: relative;
    }


/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: left;
    font-size: 24px;
    width: 13%;
     /*左すぎるので右に寄せる*/
    height: 14%;
    padding: 0 80px 0 30px;
    margin: 0.5rem 0 0;
}

#header::first-letter{
	font-size:60px;
}


/*カレンダー*/
#calendar {
    height: 20vh;
    text-align: center;
    padding: 0 10px;
    margin: auto;
}

/*カレンダー詳細画面*/
/*全体の背景色*/
.area-calendardetail{
 background-color:#FFA500;/*背景色*/
     z-index: 1;
}

/*列幅均等化*/
#calendar table {
    /* outline: 2px solid #ececec; */
    border-collapse: collapse;
    /* height: 20vh; */
    table-layout: fixed;
    margin: auto;
    border-top: 2px solid #ffa500;
    height:100%
    /* display: flex; */
}

/*罫線見えないように*/
#calendar th {
    border-width: 0px;
     padding: 10px;
    text-align: center;
    width: 80px;
    height: 20px;
}

/*日曜日のth*/
#calendar th:first-child {
    color: red;
}
/*土曜日のth*/
#calendar th:last-child {
    color: blue;
}

#calendar td {
    outline: 1px solid #ddd;
    padding: 5px 0 40px 5px;
    margin:20px 0 0 0;
    text-align:left;
    height: 10px;
  }


/*日曜日*/
#calendar td:first-child {
    color: red;
}
/*土曜日*/
#calendar td:last-child {
    color: blue;
}
/*前後月の日付*/
#calendar td.disabled {
    color: #ccc;
}

/*前後月の日曜日*/
#calendar td.disabled:first-child{
    color: #ff0000;
}

/*前後月の土曜日*/
#calendar td.disabled:last-child{
    color:blue;
}


/*本日*/
#calendar td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;

}

/*月移動ボタンの背景色を透明にした*/
#next-prev-button button{
	 background-color:#99999000;
    font-size: 1.2rem;
    border: 0;
}


/*#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}*/

#prev {
    float: left;
}
#next {
    float: right;
}
.area-calendarleftmanu {
	background-color:#FFA500;/*背景色*/
	height: 100%;
	width: 100%;
	margin: 0px;
}

.area-calendarleftmanu p{
padding:0 0 0 4px;
}
 /* === ボタンを表示するエリア ============================== */
.switchArea {
  line-height    : 56px;                /* 1行の高さ          */
  letter-spacing : 0;                   /* 文字間             */
  text-align     : center;              /* 文字位置は中央     */
  font-size      : 25px;                /* 文字サイズ         */

  position       : relative;            /* 親要素が基点       */
  margin         : auto;                /* 中央寄せ           */
  width          : 138px;               /* ボタンの横幅       */
  background     : #6495ed;                /* デフォルト背景色   */
}

 /* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}

 /* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  height         : 56px;                /* ボタンの高さ       */
  border         : 2px solid #fff;   /* 未選択タブのの枠線 */
  border-radius  : 28px;                /* 角丸               */
}

 /* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
  border-color   : #fff;             /* 選択タブの枠線     */
}

 /* === 表示する文字（標準） ================================ */
.switchArea label span:after{
  content        : "週";               /* 表示する文字       */
  padding        : 0 0 0 33px;          /* 表示する位置       */
  color          : #fff;             /* 文字色             */
}

 /* === 表示する文字（ONのとき） ============================ */
.switchArea  input[type="checkbox"]:checked + label span:after{
  content        : "月";                /* 表示する文字       */
  padding        : 0 33px 0 0;          /* 表示する位置       */
  color          : #fff;             /* 文字色             */
}

 /* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
  position       : absolute;            /* 親要素からの相対位置*/
  width          : 48px;                /* 丸の横幅           */
  height         : 48px;                /* 丸の高さ           */
  background     : #6666ff;             /* カーソルタブの背景 */
  top            : 4px;                 /* 親要素からの位置   */
  left           : 4px;                 /* 親要素からの位置   */
  border-radius  : 24px;                /* 角丸               */
  transition     : .2s;                 /* 滑らか変化         */
}

 /* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
  transform      : translateX(82px);    /* 丸も右へ移動       */
  background     : #fff;             /* カーソルタブの背景 */
}

/*カレンダー詳細 CSS*/

.area-calendardetail  {
 max-width: 250px;
 overflow: scroll;
 padding:0px 10px;
}

.area-calendardetail::-webkit-scrollbar{
  display: none;
}

.area-calendardetail div {
    background-color: white;
    margin: 0px 10px;
    padding: 0 0 0 0;
    /* border-bottom: 2px solid orange; */
}

.area-calendardetail label{
	/* padding: 10px 10px; */
}

.area-calendardetail label:first-child{
    padding: 20px 10px;
}

#timershow{
	width:220px;
}

#timershow #startBtn {
	width:70px;
	margin:4px 0 4px 0;
}

#timershow input{
	width:70px;
	margin:4px 0 4px 0;
}

#timershow input[type="text"] {
	width:180px;
}

.timerContent label{
	display: inline-block;
	padding:0 0 1px 0;
}

#timershow h3{
	margin:3px 0 3px 0;
}


.area-calendardetail input{
 /* width:200px; */
 margin:10px 0;
}

.area-calendardetail p{
 padding:2px 3px;
 font-size: 12px;
left: 1px;
}

/*予定登録画面 ズレの修正*/
.area-calendardetail input[type="text"] {
 	/* margin: 3px 0px 2px 10px; */
}

/*開始、終了時間登録*/
.area-calendardetail input[type="text"]:nth-of-type(2) , .area-calendardetail input[type="text"]:nth-of-type(3){
 width:90px;
 margin:10px 0 10px 0px;
}

/*開始時間登録*/
.area-calendardetail input[type="text"]:nth-of-type(2){
 width:90px;
 margin:10px 0px 0 0px;
}

/*メモ登録*/
.area-calendardetail input[type="text"]:nth-of-type(4) {
 height:70px;
}

/*終了時間登録*/
.area-calendardetail input[type="text"]:nth-of-type(3){
width:90px;
/* margin:0 0 0 10px; */
}

/*登録ボタン*/
.area-calendardetail button {
  flex-grow: 1;
  color: black;
  margin: 10px 0 5px 10px;
  display:flex;
  flex-direction: column;
}


p.sample1 {
  text-align:center;
	font-size:2.5px;
 }

 p{
	font-size:2.5px;
}

/*リンクの下線削除*/
a{
 text-decoration: none;
}

/*訪問後パープル無効化*/
a:visited{
 color:black;
}

.sigoto img{width: 80px;left: 12px;}

/*徹夜*/

.tetsuyaArea {
display: none;
}
.tetsuyaArea:checked + label .onImage {
display: inline-block;
		  width: 10px;
}
.tetsuyaArea:not(:checked) + label .offImage {
display: inline-block;
		  width: 10px;
}
.offImage{
  transform: scale(20);
}.onImage{
  transform: scale(20);
}
.tekitoutetuya{
	  position: absolute;
  top: 30px;
  right: 100px;
}

	.tetsuyatimeArea {
display: none;
left: 43px;
}
.tetsuyatimeArea:checked + label .onImagetetsuyatime {
display: inline-block;
width: 7px;
}
.tetsuyatimeArea:not(:checked) + label .offImagetetsuyatime {
display: inline-block;
width: 7px;
}
.offImagetetsuyatime{
transform: scale(17);
}.onImagetetsuyatime{
transform: scale(22);
}
.tekitoutetsuyatime{
top:45px;
left: 43px;
}

.img-p {   /*仕事モード画像*/
 height: 87px;
 width: 300px;
 /* transform: scale(0); */
}


/*日付選択時の枠線 CSS*/
.date-cell.selected {
  position: relative;
}

.date-cell.selected::before {
  content: "";
  position: absolute;
  top: 1.5px; /* 線の位置を調整 */
  left: 1.5px; /* 線の位置を調整 */
  right: 1.5px; /* 線の位置を調整 */
  bottom: 1.5px; /* 線の位置を調整 */
  border: 1.5px solid red; /* 線のスタイルや太さを適宜調整 */
  box-sizing: border-box;
}

/**/

.area-time label{
	margin:0 10px 0 0;
}

.tetsuyatime img{
width:100px;
}

/*登録右画面CSS*/

.about_table h2{
	text-align:center;
	margin:10px 0 0 0;
	padding:5px  ;
	border-bottom: 2px solid #ffa500;
}


.about_table table,td{
	max-width:80px;
	margin: 0 2px 0 10px;
	font-size:12px;
	max-height:20px;
}

.about_table [name="what"]{width:168px;}

.about_table [name="regist-namisen"]{
	top:115px;
	left:80px;
}

.about_table input[type="date"][name="time"]{
	width:170px;
	margin:0;
}

.about_table input[type="date"][name="s_day"],[name="s_time"]{
	width:60px;
	margin:0 0 0 10px;
}

.about_table [name="s_time"]{
	max-width:64px;
	margin: 10px 0 0 10px;
}

.about_table input[type="date"][name="e_day"],[name="e_time"]{
	max-width:64px;
	margin: 0 0 0 30px;
}

.about_table [name="e_time"]{
	max-width:64px;
	margin: 10px 0 0 30px;
}

.color_table input[type="radio"] {
    display: none;
}

.color_table label{
	width:15px;
	left:3px;
	margin:0 0 0 7px;
}

.color_table input[type="radio"]:checked + label img {
   border: 3px solid #000000;
}

.memo_table table,td{
	margin:0 0 0 18px;
}

.memo_table input[type="text"]{
	width:170px;
	font-size:12px;
	max-height:20px;
}

.regist_submit {
	display: flex;
	justify-content: center;
}


.regist_submit td{
		display: flex;
	justify-content: center;
	margin:10px 0 30px 0;
}

.regist_submit input[name="REGIST"] {
	width:100px;
	height:35px;
	border: 0px;
	margin: 0 20px 0px 0;
	color: #ffffff00;
	background: url(../img/プライベートモード予定内容完了ボタン.png) top no-repeat;
	background-size:30px
}

.regist_submit input[name="reset"] {
	width:100px;
	height:35px;
	border: 0px;
	margin:0 0px 0 10px;
	color: #ffffff00;
	background: url(../img/プライベートモード予定削除ボタン.png) top no-repeat;
	background-size:30px
}


table.list{
padding: 0.5em 1em;
margin: 2em 0;
color: #3c4a68;
background: #ffff;
border-bottom: solid 3px #aac5de;
border-radius: 6px;
margin: 0;
padding: 0;
width: 230px;
}

table.list{
padding: 0.5em 1em;
margin: 2em 0;
background: #ffff;
border-bottom: solid 3px #aac5de;
border-radius: 6px;
margin: 0;
padding: 0;
width: 230px;
}

.area-calendardetail input[name="SUBMIT"] , .area-calendardetail input[name="DELETE"]{
width:50px;
}
.list tbody tr:nth-of-type(4) td{
width:50px;
text-align:right;
}
/*dayjsp範囲*/
.register-area{
/* background-color:white; */
}
.register-area , .memo_table , .regist_submit{
background-color:white;
top:10px;
}
.himadesu [name="serch"] .regist-result-css [name="serch"]{
top:10px;
}
.today-himadesu input[type=text] , .regist-result-css input[type=text]{
width: 135px;
top:1px;
}
.himadesu input[type=text] , .regist-result-css input[type=text]{
padding:2px;
bottom:1px;
}
.himadesu p , .regist-result-css p{
margin:20px 0 ;
}
.himadesu form , .regist-result-css form{
text-align:center;
}
.himadesu input[type=submit] , .regist-result-css input[type=submit]{text-align:center;margin:0 0 20px 0;background-color: #eda26461;border:none;}
.himadesu input[type=submit]:hover , .regist-result-css input[type=submit]:hover{
text-align:center;
margin:0 0 20px 0;
background-color:#333c5061;
border:1px solid black;
}
/*regist-result-css*/
.regist-result-css > .inquiry_footer , .homebutton{
background-color:#ffffff;
text-align:center;
padding:5px;
}
.homebutton:hover {
color:#70879d;
text-align:center;
padding:5px;
}
.regist-result-css p {
text-align:center;
}


.namisen{
	height:1px;

}