@charset "UTF-8";

.container {  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr 4.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "question_hedder question_hedder icon"
    "question_left question_main question_right"
    "question_footer question_footer time";
}


.time { grid-area: time; }

.icon { grid-area: icon; }

.question_main { grid-area: question_main;
 						   background-color:#d7d7d7ab;}

/*よくある質問*/
.inline{
	  display: flex;
}
	/*アイコン*/


	/*本体*/
.question_main h1.yokuaru{
  color:#4580e6;
  border-bottom:2px solid;
  width: 900px;

}


.question_hedder { grid-area: question_hedder; }

.question_footer { grid-area: question_footer;
							text-align:center;}

.question_left { grid-area: question_left; }

.question_right { grid-area: question_right; }

.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}


