@charset "UTF-8";

.container {  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr 4.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "question_hedder question_hedder icon"
    "question_left question_main question_right"
    "question_footer question_footer time";
}


.time { grid-area: time; }

.icon { grid-area: icon; }

.question_main { grid-area: question_main;
 						   }

/*よくある質問*/
.inline{
	  display: flex;
}
	/*アイコン*/
.hatena_icon{
	padding:16px 0 0 0;
}


	/*本体*/
.question_main h1.yokuaru{
  color:#4580e6;
  border-bottom:2px solid;
  width: 900px;

}

.question-collection{
	width: 700px;
	margin: auto ;
	background-color:#d7d7d7ab;
}

.question-single th {
	color:#4580e6;
	text-align:left;
	font-size:20px;

}

.question-single td {
	text-indent: 18px;

}


.question_hedder { grid-area: question_hedder; }

.question_footer{ grid-area: inquiry_footer;
							text-align:center;
							padding: 30px 0}

/*aタグ*/
/*aタグ*/
.home-return-button {
  align-items: center;
  justify-content: center;
  padding:5px 25px;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #1976d2;
}
.home-return-button:hover {
  opacity: .7;
}

.question_left { grid-area: question_left; }

.question_right { grid-area: question_right; }


