@charset "UTF-8";

.container {  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "inquiry_hedder inquiry_hedder icon"
    "inquiry_left inquiry_main inquiry_right"
    "inquiry_footer inquiry_footer time";
}


.time { grid-area: time; }

.icon { grid-area: icon; }

.inquiry_main { grid-area: inquiry_main;
 						  }

/*お問い合わせ*/
.inline{
	  display: flex;
}
	/*アイコン*/
.mail_icon{
	padding:20px 10px 0 0;
}


.inquiry_main h1.yokuaru{
	/*本体*/
  color:#4580e6;
  border-bottom:2px solid;
  width: 900px;
}

.inquiry_form {
	 background-color:#d7d7d7ab;
	 width:840px;
	 margin:auto ;
}

textarea{
    vertical-align:top;
}

.inquiry_form th{
	font-weight:bold;
	padding: 10px 0px 0px 0px;
	text-align:left;
}

.inquiry_form tr{
	padding: 10px 0px;
}

.align-right-angry{
	  text-align: right;
	  padding:30px 100px 20px 0px;
}

.inquiry_form table{
	width:600px;
	margin:auto ;
}

.button{
  padding:10px 30px;
  width: 80px;
  text-align: center;
  display       : inline-block;
  font-size     : 12pt;        /* 文字サイズ */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    :#1976d2;    /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 1px solid #1976d2;    /* 枠の指定 */
}

.button:hover {
  color         : #1a1aff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


.inquiry_hedder { grid-area: inquiry_hedder; }

.inquiry_footer { grid-area: inquiry_footer;
							text-align:center;
							padding: 30px 0}

.inquiry_left { grid-area: inquiry_left; }

.inquiry_right { grid-area: inquiry_right; }


/*aタグ*/
/*aタグ*/
.home-return-button {
  align-items: center;
  justify-content: center;
  padding:5px 25px;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #1976d2;
}
.home-return-button:hover {
  opacity: .7;
}
/*管理用

.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
*/

