@charset "UTF-8";


html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {

	background-image: url("/AllNightCalender/img/LoginBackground.jpg");
	background-size: cover;
}



.header {
	margin: 0,auto;
}


.Content {
    position: fixed;
    inset: 0;
    margin:auto;
    z-index:1;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
}

#userID, #userPW {
	min-width: 400px;
	padding-bottom: 6px;
	padding-top: 6px;
	margin-bottom: 6px;
}

#newlogin {
	margin-left: 287px;
	text-decoration: none;
	font-size: 12px;
	color:white;
}


#login {
	margin-right:11%;
	padding-top: 10px;
	width: 10%;
	text-align:center;
}

#sendBtn {
	margin-right: 3px;
}

#resetBtn {
	margin-left: 3px;
}

form {
	display: flex;
	flex-direction: column;
}

.Btns {
	margin-top:6px;
	display: flex;
	justify-content: center;
    align-items: center;
}

