@charset "UTF-8";

html {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

body {

	background-image: url("/AllNightCalender/img/LoginBackground.jpg");
	background-size: cover;
}

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    margin:auto;
    z-index:10;
}
h1 {
	color:#ffffff;
}

img {
	height: 30%;
	width: 30%;
}

#userID, #userPW, #userFamilyName, #userName{
    min-width: 460px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

#sendBtn {
	margin-left:352px;
	margin-right: 3px;
	align-items: center;
    justify-content: center;
    padding:5px 30px;
    line-height: 2;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid #949494;
    border:1.5px solid #000000;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #3e59ba;
}

#sendBtn:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}