@charset "UTF-8";


body {

	background-image: url("/AllNightCalender/img/LoginBackground.jpg");
	background-size: cover;
}
h1 {
	color:#ffffff;
}
html {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    margin:auto;
    z-index:1;
}

img {
	height: 30%;
	width: 30%;
}

table {
	width:500px;
	text-align:center;
	padding:30px 0 20px 0;
	margin:auto;
	border-spacing:0
}

.Btns {
	margin-top: 50px;
	text-align:center;
}



th {
	padding:10px 0px;
	color:white;
	background-color:#4580e6;
	border:none;
}

tr{
	padding: 0px 0px;
	border:none;
}




td {
	padding: 10px 0px;
	border:none;
	background:white;
}

tr,td {
	border-bottom: 2px solid #77757547;
}

#userID, #userPW, #userFamilyName, #userName{
    min-width: 400px;
	padding-bottom: 6px;
	padding-top: 6px;

}

#sendBtn {
	margin-left: 3px;
	align-items: center;
    justify-content: center;
    padding:5px 25px;
    line-height: 2;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid #949494;
    width: 150px;
    border:1.5px solid #000000;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #3e59ba;
}

#sendBtn:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}

#backBtn {
	margin-right: 3px;
    align-items: center;
    justify-content: center;
    padding:5px 25px;
    line-height: 2;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    border-radius: 15px;
    border: 1.8px solid #000000;
    width: 150px;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #ffffff;
}

#backBtn:hover {
  border-bottom-width: 0;
  transform: translateY(2px);
}